<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <link href="/style.css" type="text/css" rel="stylesheet"/>
        <title>Eothel.be</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Eothel.be</a></h1>
        </header>
        <main>
            <eothel-error></eothel-error>
        </main>
        <footer>
            ...
        </footer>
        <script type="module">
          import Vue from '/vue/vue.esm.browser.js';

          Vue.component('eothel-error', {
            template: `
                <div>
                    <h1>Error</h1>
                    <div>
                        <label>Message:</label>
                        <span>{{error.publicMessage}}</span>
                    </div>
                    <div v-if="error.instance">
                      <label>Instance:</label>
                      <span>{{error.instance}}</span>
                    </div>
                    <div v-if="error.statusCode">
                        <label>Status code:</label>
                        <span>{{error.statusCode}}</span>
                    </div>
                    <div v-if="error.privateMessage">
                        <label>Private message</label>
                        <span>{{error.privateMessage}}</span>
                    </div>
                    <div v-if="error.details">
                        <label>Details</label>
                        <pre v-for="detail of error.details">{{detail}}</pre>
                    </div>
                </div>
            `,

            data: () => {
              return {
                get error() {
                  const errorString = document.querySelector('#error').textContent
                  if (errorString.startsWith('%ERROR')) {
                    return {
                      publicMessage: 'Unknown error',
                    }
                  }
                  return JSON.parse(errorString);
                },
              }
            }
          });

          new Vue({
            el: 'main',
          });
        </script>
        <script type="text/plain" id="error">%ERROR%</script>
    </body>
</html>