<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Authenticate</title>
        <link href="style.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header>
            <h1><a href="/">Eothel.be</a></h1>
        </header>
        <main>
            <eothel-login></eothel-login>
        </main>
        <footer>
            <h1>Footer</h1>
        </footer>
        <script type="module">
            import Vue from '/vue/vue.esm.browser.js';
            import * as userService from './user-service.js';

            (async () => {
                // const Vue = await import('./vue/vue.esm.browser.js');
                // console.log(Vue);

                const user = await userService.fetchCurrentUser();
                if(user) {
                    await submit();
                }

                Vue.component('eothel-login', {
                    template: `
                    <div v-if="!$root.user" class="eothel-login">
                        <h1>Authenticate with eothel.be</h1>
                        <div class="message">Request to log on to <strong>{{clientId}}</strong> with your eothel.be account. You will be sent there after authenticating.</div>
                        <form v-on:submit="submit">
                            <div v-if="status !== null" :class="'info-' + status.type">
                              {{status.message}}
                            </div>
                            <div class="form-field">
                                <label for="username">Username:</label>
                                <input type="text" id="username" required/>
                            </div>
                            <div class="form-field">
                                <label for="password">Password:</label>
                                <input type="text" id="password" required/>
                            </div>
                            <div class="buttons">
                                <button type="button" class="button-danger" disabled>Abort</button>
                                <button type="submit" class="button-success">Log in</button>
                            </div>
                        </form>
                    </div>
                `,

                    data: () => {
                        return {
                            status: null,

                            get clientId() {
                                return new URLSearchParams(location.search).get('client_id');
                            },
                        }
                    },

                    methods: {
                        submit,
                    }
                });

                new Vue({
                    el: 'main',
                    data: () => {
                        return {
                            user,
                        }
                    }
                });

                async function submit(e) {
                    try {
                        let result;
                        if(e) {
                            e.preventDefault();
                            result = await userService.authenticate(
                                e.target.querySelector('#username').value,
                                e.target.querySelector('#password').value
                            );
                        } else {
                            result = await userService.authenticate();
                        }
                        if (result === false) {
                            this.status = {
                                type: 'danger',
                                message: 'Username and/or password incorrect.',
                            }
                            return;
                        }
                        location.href = result;
                    } catch(error) {
                        this.status = {
                            type: 'danger',
                            message: error.message,
                        }
                    }
                }
            })();
        </script>
    </body>
</html>
