<html lang="en">
    <head>
        <title>Eothel</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="/style.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header>
            <h1><a href="/">Eothel.be</a></h1>
        </header>
        <main>
            <a href="/auth?client_id=YE4B6rEbTCC8ILTr&redirect_uri=/auth/callback">Login Eothel</a>
        </main>
        <footer>

        </footer>
        <script type="module">
            import * as userService from './user-service.js';
            (async () => {
                const user = await userService.fetchCurrentUser();
                if(user) {
                    const main = document.querySelector('main');
                    main.innerHTML = `<h1>${user.firstName} ${user.lastName}</h1>`;

                    const button = document.createElement('button')
                    button.textContent = 'Logout';
                    button.addEventListener('click', function () {
                        document.cookie = 'token= ; expires = Thu, 01 Jan 1970 00:00:00 GMT';
                        location.reload();
                    });
                    main.appendChild(button);
                }
            })();
        </script>

<!--        <div id="app">-->
<!--            <eothel-home></eothel-home>-->
<!--        </div>-->

<!--        <script src="vue.js"></script>-->
<!--        <script>-->
<!--            (async () => {-->
<!--                const user = await (async () => {-->
<!--                    console.log('Searching for access token');-->

<!--                    // Check for authorizationCode in the query string-->
<!--                    const searchParams = new URLSearchParams(location.search);-->
<!--                    let token = searchParams.get('accessToken');-->
<!--                    if (token) {-->
<!--                        console.log('Found access token as a query parameter! Using it.');-->
<!--                    } else {-->
<!--                        console.log('Query params do not contain access token, continuing the search!');-->
<!--                        const cookies = document.cookie.split(';').map(cookie => {-->
<!--                            const [name, value] = cookie.split('=');-->
<!--                            return { name: name.trim(), value: decodeURIComponent(value) };-->
<!--                        });-->
<!--                        const accessTokenCookie = cookies.find(c => c.name === 'accessToken');-->
<!--                        if(!accessTokenCookie) {-->
<!--                            console.log('Cookies do not contain access token, giving up.');-->
<!--                            return null;-->
<!--                        }-->
<!--                        console.log('Cookie containing access token found! Using it.');-->
<!--                        token = accessTokenCookie.value;-->
<!--                    }-->

<!--                    console.log(`Retrieving user info with access token '${token}'`);-->
<!--                    const response = await fetch('/auth/userinfo', {-->
<!--                        method: 'get',-->
<!--                        headers: {-->
<!--                            'Authorization': `Bearer ${token}`,-->
<!--                        }-->
<!--                    });-->
<!--                    if(response.status !== 200) {-->
<!--                        console.log(`Unable to obtain user info with access token '${token}' because status code was '${response.status}'`);-->
<!--                        return null;-->
<!--                    }-->
<!--                    const user = await response.json();-->
<!--                    user.accessToken = token;-->
<!--                    console.log(`Valid access token ${token} resolved to user '${user.username}'.`);-->
<!--                    return user;-->
<!--                })();-->

<!--                Vue.component('eothel-home', {-->
<!--                    template: `-->
<!--                    <div>-->
<!--                        <h1>Welcome to Eothel.be</h1>-->
<!--                        <eothel-login-button></eothel-login-button>-->
<!--                    </div>-->
<!--                `,-->
<!--                });-->

<!--                Vue.component('eothel-login-button', {-->
<!--                    template: `-->
<!--                        <div>-->
<!--                            <h2 v-if="$root.user">Hello {{$root.user.firstName}} {{$root.user.lastName}}</h2>-->
<!--                            <h2 v-else>Login</h2>-->
<!--                            <strong v-if="isExternalLoginRequest">You will be redirected to application {{clientName}} {{$root.user ? 'in a moment...' : 'after login'}}</strong>-->

<!--                            <form v-show="!$root.user" method="post" v-bind:action="loginUrl">-->
<!--                                <div>-->
<!--                                    Username: <input type="text" name="username"/>-->
<!--                                </div>-->
<!--                                <div>-->
<!--                                    Password: <input type="password" name="password"/>-->
<!--                                </div>-->
<!--                                <input type="hidden" name="redirectUrl" v-bind:value="redirectUrl"/>-->
<!--                                <input type="hidden" name="clientName" v-bind:value="clientName"/>-->
<!--                                <input type="hidden" name="accessToken" v-bind:value="$root.user && $root.user.accessToken"/>-->
<!--                                <button>Login</button>-->
<!--                            </form>-->
<!--                        </div>-->
<!--                    `,-->

<!--                    mounted() {-->
<!--                        if(this.isExternalLoginRequest && this.$root.user) {-->
<!--                            const form = this.$el.querySelector('form');-->
<!--                            setTimeout(() => {-->
<!--                                form.submit();-->
<!--                            }, 2000);-->
<!--                        }-->
<!--                    },-->

<!--                    data() {-->
<!--                        return {-->
<!--                            loginUrl: '/auth/login',-->

<!--                            get isExternalLoginRequest() {-->
<!--                                return this.clientName !== 'eothel';-->
<!--                            },-->

<!--                            get redirectUrl() {-->
<!--                                return new URLSearchParams(window.location.search).get('redirectUrl') || '/auth/callback';-->
<!--                            },-->

<!--                            get clientName() {-->
<!--                                return new URLSearchParams(window.location.search).get('clientName') || 'eothel';-->
<!--                            },-->
<!--                        };-->
<!--                    },-->
<!--                });-->

<!--                new Vue({-->
<!--                    el: '#app',-->
<!--                    data: {-->
<!--                        user,-->
<!--                    }-->
<!--                });-->
<!--            })();-->
<!--        </script>-->
<!--    </body>-->
</html>