@import "@fontsource/fira-sans/index.css";
@import "@fontsource/fira-code/index.css";

* {
    padding: 0;
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
    border-style: solid;
    border-width: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: skyblue;
}

main {
    max-width: 100%;
}

header {
    width: 100%;
    height: 8rem;
    background-color: dodgerblue;
}

footer {
    width: 100%;
    height: 5rem;
    background-color: lightgray;
}

.eothel-login {
    /*font-size: 1.5rem;*/
    /*margin-bottom: 15rem;*/
    /*height: 30rem;*/
    width: 30rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    padding: 2rem;
    box-sizing: border-box;
    border-radius: 0.4rem;
    border: 0.2rem solid black;

    background-color: white;
}

.eothel-login h1 {
    text-align: center;

    /*border: 1px solid red;*/
    width: 100%;
}

.eothel-login > .message {
    margin: 1rem 0;
    text-align: justify;
}

.eothel-login > form {
    display: flex;
    flex-direction: column;
}

.eothel-login > form > .form-field {
    display: flex;
    margin-bottom: 0.5rem;
    /*font-weight: bold;*/
    /*border: 1px solid red;*/
    /*width: 24%;*/
}

.eothel-login > form > .form-field > label {
    display: flex;
    align-items: center;
    font-weight: bold;
    /*border: 1px solid blue;*/
    width: 6rem;

    /*width: 24%;*/
}

.eothel-login > form input {
    border: 0.15rem solid lightgray;
    border-radius: 0.2rem;
    padding: 0.5rem;
    flex-grow: 2;
}

button.button-danger {
    background-color: lightcoral;
    border-color: red;
}

button:disabled {
    background-color: lightgray;
    /*border-color: lightgray;*/
}

button.button-success {
    background-color: lightgreen;
    /*border-color: green;*/
}

form .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.buttons button {
    padding: 0.5rem;
    border-radius: 0.2rem;
    width: 5rem;
    /*border-width: 0.15rem;*/
}

.info-success {
    color: green;
}

.info-danger {
    color: red;
}

pre {
    font-family: 'Fira Code', monospace;
    overflow-x: auto;
}